includes:
    - phpstan-baseline.neon

parameters:
    phpVersion: 80100
    paths:
        - src
        - base
        - req
    level: max
    typeAliases:
        ConfigParameters: 'array{table_prefix:string,base:string}'
